# MySQLサーバーへの設定
[mysqld]
# 文字コード/照合順序の設定
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
# デフォルト認証プラグインの設定
default_authentication_plugin = mysql_native_password
# 明示的に timestamp 型にデフォルト値を設定(暗黙的なデフォルト値が非推奨のため)
explicit_defaults_for_timestamp = 1
# エラーログの設定
log_error = /var/log/mysql/mysql-error.log
# スロークエリログの設定
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 5.0
log_queries_not_using_indexes = 0
# 実行ログの設定
general_log = 1
general_log_file=/var/log/mysql/mysql-query.log

# mysqlオプションの設定
[mysql]
# 文字コードの設定
default_character_set = utf8mb4

# mysqlクライアントツールの設定
[client]
# 文字コードの設定
default_character_set = utf8mb4